html,
body {
    height: 100%;
    width: 100%;
    padding: 0!important;
    margin: unset;
}
 
main {
    margin: unset !important;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
 
#app-title {
    margin: 5rem 3rem;
    text-align: center;
   
    font-size: 5rem;
}
 
#counter-field {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 
#left-button,
#right-button {
    background-color: pink;
    height: 250px;
    width: 250px;
    border-radius: 20px 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 10rem;
    font-family: cursive;
    text-align: center;
    box-shadow: 1px 6px 21px #783333;
    transition: all ease-in .1s;
    cursor: pointer;
}
 
#counter-container {
    background-color: white;
    border-radius: 20px 20px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    font-size: 10vw;
    overflow-wrap: anywhere;
    text-align: center;
    box-shadow: 1px 6px 21px #783333;
}
 
#left-button:active,
#right-button:active {
    transform: scale(.9)
}